

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsDfsjmADTzetx1FKBjOrIjsNGtEG_y5F7og&s"
    cardTitle="PREÇOS ABSUSIVOS DA NINTENDO SUPREENDE E CAUSA REVOLTA"
    cardDescription="Nintendo anuncia jogos a $80 dolares, causando revolta na comunidade"
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfpr0v5onLZgbqLe2rbShC6SP1zIpYwl83-g&s"
    cardTitle="GTA VI anuncia o preço de lançamento, e causa panico!"
    >
    </app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkJrpw4cyp_V7z-mB9mi5IRW5A4dg6qnMf3g&s"
    cardTitle="Novo jogo da fromsoftware exclusivo para nintendo switch 2 decepciona!"
    >
    </app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn98fYVfF-AmASH62a3yd5vjyUiwbcszyCNA&s"
    cardTitle="Bug onde jogo fica sem som no pc, ainda não resolvido"
    >
    </app-small-card>
  </div>

</div>
